/AH.Microservices.Company/Src/*/AH.Company.*/obj/*
/AH.Microservices.Company/Src/*/AH.Company.*/bin/*
/AH.Microservices.Company/obj/*
/AH.Microservices.*/Tests/*/bin/
/AH.Microservices.*/Tests/*/obj/
/AH.Microservices.CompanyOrchestration/Src/*/AH.CompanyOrchestration.*/obj/*
/AH.Microservices.CompanyOrchestration/Src/*/AH.CompanyOrchestration.*/bin/*
/AH.Microservices.CompanyOrchestration/obj/*
/AH.Microservices.Metadata/Src/*/AH.Metadata.*/obj/*
/AH.Microservices.Metadata/Src/*/AH.Metadata.*/bin/*
/AH.Microservices.Metadata/obj/*
/AH.Microservices.User/Src/*/AH.User.*/obj/
/AH.Microservices.User/Src/*/AH.User.*/bin/Debug/
/AH.Microservices.User/obj/*
/Shared/AH.Shared.*/obj/*
/Shared/AH.Shared.*/bin/*
/obj/Docker/*
.idea/*
AH.Microservices.*/.idea/*
/obj/Debug/*
/AH.Microservices.Metadata/Tests/Tests.Unit.Application/bin/
/AH.Microservices.Metadata/Tests/Tests.Unit.Application/obj/
/AH.Microservices.Company/Tests/Tests.Unit.Application/bin/
/AH.Microservices.Company/Tests/Tests.Unit.Application/obj/
/AH.Microservices.User/Tests/Tests.Unit.Application/bin/
/AH.Microservices.User/Tests/Tests.Unit.Application/obj/
*.DotSettings*
AH.Microservices.Metadata.sln*
bin/Debug/
.vs/
.env
/AH.Microservices.User/Src/Infrastructure/AH.User.Infrastructure/bin/*
/Integrations/obj/*
/Integrations/bin/*
/Integrations/Src/AH.Integration.*/bin/*
/Integrations/Src/AH.Integration.*/obj/*
.cache/*
AgilityHealth.Microservices.sln*
AgilityHealth.Web/AgilityHealth.Web.csproj.user
AgilityHealth.Web/obj/*
AgilityHealth.Web/bin/*