@page "/companies"
@using AH.Metadata.Shared.V1.Models.Responses.Companies
@inject HttpClient Http
@attribute [Authorize]
<h3>Companies</h3>



@code {
    
    private List<CompanyWithDomainResponse> CompaniesList { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        CompaniesList = await Http.GetFromJsonAsync<List<CompanyWithDomainResponse>>("api/companies") ?? new();
    }
}