@page "/Tags"
@using AH.Web.Client.Components.Tags
<h3>Tags</h3>

<TelerikTabStrip Width="1200px">
    <TabStripTab Title="Teams">
        <MasterTagCategoryGrid ClassName = "MasterTeamCategory"/>
    </TabStripTab>
    <TabStripTab Title="Team Members">
a
    </TabStripTab>
    <TabStripTab Title="Stakeholders">
b
    </TabStripTab>
    <TabStripTab Title="Skills">
c
    </TabStripTab>
</TelerikTabStrip>