@page "/tags"
<PageTitle>Tags</PageTitle>
@using AH.Metadata.Shared.V1.Models.Responses.MasterTagCategories
@using Microsoft.AspNetCore.Authorization
@inject IMasterTagCategoryService MasterTagCategoryService  
@attribute [Authorize]

<h1>Tags</h1>

<TelerikTabStrip Width="900px">
    <TabStripTab Title="Teams">
        <TelerikGrid Data="@masterTeamCategories"
                     Pageable="true"
                     Sortable="true"
                     Width="49%"
                     OnRowClick=@( async (GridRowClickEventArgs args) => { await CategoryClicked(args); })
                     FilterMode="@GridFilterMode.FilterMenu">
            <GridColumns>
                <GridColumn Field="Name" Title="Name" />
                <GridColumn Field="Type" Title="Type"/>
                <GridCommandColumn>
                    
                </GridCommandColumn>
            </GridColumns>
        </TelerikGrid>
    </TabStripTab>
    <TabStripTab Title="Team Members">
        <TelerikGrid Data="@masterTeamMemberCategories"
                             Pageable="true"
                             Sortable="true"
                             Width="49%"
                             FilterMode="@GridFilterMode.FilterMenu">
                    <GridColumns>
                        <GridColumn Field="Name" Title="Name" />
                        <GridColumn Field="Type" Title="Type"/>
                        <GridCommandColumn>
                            
                        </GridCommandColumn>
                    </GridColumns>
                </TelerikGrid>
    </TabStripTab>
    <TabStripTab Title="Stakeholders">

    </TabStripTab>
    <TabStripTab Title="Skills">

    </TabStripTab>

</TelerikTabStrip>


@code {

    private List<MasterTagCategoryResponse> categories = new List<MasterTagCategoryResponse>();
    private List<MasterTagCategoryResponse> masterTeamCategories = new List<MasterTagCategoryResponse>();
    private List<MasterTagCategoryResponse> masterTeamMemberCategories = new List<MasterTagCategoryResponse>();

    protected override async Task OnInitializedAsync()
    {
        categories = await MasterTagCategoryService.GetMasterTagCategories();
        masterTeamCategories = categories.Where(x => x.ClassName == "MasterTeamCategory").ToList();
        masterTeamMemberCategories = categories.Where(x => x.ClassName == "MasterTeamMemberCategory").ToList();
        await base.OnInitializedAsync();
    }

    private async Task CategoryClicked(GridRowClickEventArgs args)
    {
        var category = (MasterTagCategoryResponse) args.Item;
        Console.WriteLine(category.Name + " clicked");
    }

}
